@import "./imports.scss";

.choose-label-set-modal {
  .content {
    h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: $grey-darker;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $text-strong;
    }

    .label-set-dropdown {
      width: 100%;
      border: 1px solid #d0d5dd;
      height: 40px;
      cursor: pointer;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      margin-bottom: 4px;

      &.dropdown-disabled {
        cursor: not-allowed;
      }
    }

    .labels-list {
      color: $grey-blue;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;

      .labels-select {
        padding: 12px;
        overflow: scroll;
        height: 154px;
        border: 1px solid $grey-detail;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }

    .next-step-description {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: $text-color;
      margin-top: 8px;
    }

    .submit-ann-set {
      margin-top: 16px;
      width: 100%;
    }
  }
}
