@import "./imports.scss";

.confirm-rotation {
  .modal-content {
    max-width: 400px !important;
    border-radius: 12px;
  }

  .modal-card-head,
  .modal-card-body,
  .modal-card-foot {
    background-color: $white;
    border: none;
    display: flex;
    justify-content: center;
  }

  .modal-card-head {
    flex-direction: column;

    .icon-container {
      background: $lightest-red;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4px;
      margin-bottom: 20px;
    }

    .modal-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
    }
  }

  .modal-card-body {
    margin-left: 40px;
    margin-right: 40px;

    .modal-description {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: $grey-blue;
    }
  }

  .modal-card-foot {
    .btn {
      border-radius: 8px;
      padding: 10px 18px 10px 18px;
      width: 170px;
      height: 44px;
    }

    .cancel-btn {
      &:hover {
        background-color: $grey-hover;
        border-color: $grey-outline;
      }
    }

    .confirm-btn {
      background-color: $red;
      color: $white;
      border: none;
    }
  }
}
