@import "./imports.scss";

.confirm-rotation {
  .modal-card-head {
    display: flex;
    flex-direction: column;

    .icon-container {
      background: $lightest-red;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4px;
      margin-bottom: 20px;
    }

    .modal-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
    }
  }

  .modal-card-body {
    margin-left: 40px;
    margin-right: 40px;

    .modal-description {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: $grey-blue;
    }
  }
}
