@import "./imports.scss";

.dashboard {
  display: flex;
  height: 100vh;
  flex-direction: column;

  .dashboard-top-bar {
    height: 56px;
  }

  .dashboard-viewer {
    overflow: hidden;
    display: flex;
    background: $grey-lighter;
    flex: 1;

    .dashboard-document {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      flex: 1;
      background-image: radial-gradient(#bfc1c9 0.8px, #ededed 0.1px);
      background-size: 9px 9px;
    }

    @media print {
      .dashboard-document {
        position: static;
      }
    }
  }

  .not-supported {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  button.ok-btn {
    height: 40px;
    width: auto;
    background-color: $lighter-green;
    box-shadow: none;
    border-radius: 4px;
    border: none;
    color: $white;
    padding: 10px 16px 10px 16px;
    font-weight: 500;
    margin-bottom: 32px;
    margin-top: 15px;
    font-family: "Inter", sans-serif;

    &:hover {
      cursor: pointer;
    }
  }
}