@import "./imports.scss";

.header,
.footer {
  height: 65px !important;
  padding-left: 33px;
}

.header {
  padding-top: 23px;
  padding-bottom: 23px;

  h3 {
    font-size: 18px;
    font-weight: 500;
  }
}

.pages-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
  background-color: $background;
  width: 100%;
  height: 383px;
  padding-top: 23px;
  padding-left: 40px;
  padding-right: 40px;
  overflow: scroll;

  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .page {
      width: 64px;
      height: 94px;
      background-color: black;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $white;
  padding: 0 33px 0 33px;

  .footer-left {
    display: flex;
    align-items: center;
    gap: 13px;

    .icon {
      height: 40px;
      width: 40px;
      border-radius: 8px;
      border: 1px solid $grey-outline;
      margin-right: 8px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .footer-right {
    .btn {
      width: 109px;
      padding: 10px 16px 10px 16px;
      border-radius: 8px;
      box-shadow: none;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        cursor: pointer;
      }

      &.cancel-btn {
        background-color: $white;
        border: 1px solid $grey-outline;
        margin-right: 12px;
      }

      &.apply-btn {
        background-color: $top-bar-green;
        border: none;
        color: $white;
      }
    }
  }
}
