@import "./imports.scss";

.document-top-bar {
  height: 56px;
  width: 100%;
  background-color: $white;
  position: sticky;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $detail;
  flex: 1;
  top: 0;
  font-size: 14px;
  color: $top-bar-text-color;
  font-weight: 400px;

  .left-bar-components {
    flex-direction: row;
    display: flex;
    flex: 1;
  }

  .document-name-container {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .handover {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.btn-container {
  cursor: pointer;
}