@import "./imports.scss";
.document-search {
  position: fixed;
  right: 26vw;
  margin-top: 5px;
  z-index: 95;

  .search-container {
    background-color: #2f3032;
    color: white;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .search-input {
      font-size: 14px;
      background: inherit;
      color: inherit;
      border: 0;
      padding: 5px 8px;
      width: 140px;
      margin-right: 10px;
    }

    .search-loading {
      margin-left: auto;
      font-size: 13px;
      color: #8a8f8d;
    }
  }
}
