@import "./imports.scss";

.documents-list {
  background-color: $background;
  font-family: "Inter", sans-serif;
  .documents-list-top {
    display: flex;
    flex-direction: row;
    padding: 40px;
    margin-bottom: 14px;
    .documents-list-top-left {
      flex: 1;

      h2 {
        font-size: 26px;
        color: $text;
        font-weight: 600;
        line-height: 33px;
        margin: 0;
      }
      p {
        font-size: 14px;
        color: $text-lighter;
        font-weight: 400;
        line-height: 20px;
        margin: 16px 0 0 0;
      }
    }
    .documents-list-top-right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      align-self: center;
      .action-box {
        align-self: center;
        width: 75%;
        height: 100%;
        background-color: $primary-low-opacity;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        span {
          margin-top: 20px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: $text;
        }
        .action-button {
          position: absolute;
          bottom: -20px;
          padding: 0 16px;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          cursor: pointer;
        }
      }
    }
  }
  $documents-list-height: 80px;

  .documents-list-bottom {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $detail;

    .documents-list-thumbnail {
      cursor: pointer;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: $documents-list-height;
      padding: 8px;
      &.selected {
        background-color: white;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-bottom: 3px solid $primary;
      }
      .img-thumbnail {
        max-height: 40px;
        &.selected {
          outline: 1px solid $dark;
        }
      }
      .document-name {
        margin-left: 14px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
        &.selected {
          font-weight: 600;
        }
      }
    }
  }
}
