@import "./imports.scss";

.document-edit {
  flex: 1;
  background-color: $background;
  padding: 16px;

  .document-grid {
    padding: 42px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(138px, 138px));
    justify-items: center;
    gap: 10px;

    &.scroll {
      height: calc(100% - 50px - 42px);
      overflow: scroll;
    }

    .image-section {
      width: 138px;
      height: 138px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: rgba(223, 224, 228, 0.3);
      }

      .splitting-lines {
        display: block;
        border-right: 1px dashed $grey-low-opacity;
        position: relative;
        width: 1px;
        height: 90px;
        bottom: 15px;
        left: 5px;
        cursor: pointer;

        .scissors-icon {
          display: none;
          transform: rotate(-90deg);
          position: relative;
          z-index: 999;
          margin-left: 2.5px;
          top: 42.5px;
        }

        &:hover {
          .scissors-icon {
            display: block;
          }
        }

        &.active-split {
          border: none;
          height: 60px;

          &:hover {
            .scissors-icon {
              display: none;
            }
          }
        }
      }

      &:last-child {
        .splitting-lines {
          display: none;
        }
      }

      .image-container {
        width: fit-content;
        display: flex;
        flex-direction: column;

        .thumbnail {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 130px;
          width: 138px;

          &:hover {
            .icon-container {
              display: flex;
            }
          }

          .icon-container {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            display: none;

            .action-icon {
              border-radius: 60px;
              background-color: $grey-darkest;
              width: 32px;
              height: 32px;
              color: $white;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
          }
        }

        .page-number {
          color: $text-lighter;
          font-size: 12px;
          line-height: 12px;
          font-weight: 400;
          align-self: center;
          padding-bottom: 10px;
        }
      }
    }

    @media (max-width: 772px) {
      height: calc(100% - 50px - 42px);
      overflow: scroll;
    }

    @media (max-height: 500px) {
      height: calc(100% - 50px - 42px);
      overflow: scroll;
    }
  }

  .footer {
    height: 50px;
    position: fixed;
    z-index: 999;
    background-color: inherit;
    padding: 15px 0 20px 0;
    bottom: 0;
    width: 100%;

    .edit-footer {
      display: flex;
      align-items: center;
      height: 100%;

      p {
        margin-right: 16px;
        color: $grey;
        font-size: 14px;
        font-weight: 400;
      }

      .buttons-container {
        display: flex;
        gap: 4px;
      }
    }
  }

  .confirm-split-component {
    margin-top: 40px;

    .confirm-split-container {
      display: grid;
      grid-template-rows: 1fr;
      gap: 40px;
      max-height: 700px;
      overflow: scroll;

      .document-details {
        display: flex;
        align-items: center;
        gap: 15px;

        .overview-thumbnails {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;

          .split-documents {
            background-color: $white;
            border: 1px solid $grey-detail;
            border-radius: 2px;

            .icon-container {
              position: absolute;
              margin-left: 8px;
              top: 105px;
              display: none;

              .action-icon {
                border-radius: 60px;
                background-color: $grey-darkest;
                width: 32px;
                height: 32px;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
              }
            }

            &:hover {
              .icon-container {
                display: flex;
              }
            }
          }
        }

        &:last-child {
          .split-documents {
            width: 60px;
            height: 40px;
          }
        }
        .file-name-section {
          display: flex;
          align-items: center;

          .control {
            .input {
              border-radius: 4px 0 0 4px !important;
              box-shadow: none !important;
              border-right: 0;

              &:hover {
                border-color: $grey-outline;
              }
            }
          }

          .name-input {
            display: flex;
            align-items: center;
            height: 40px;
            padding: 13px;
            border-radius: 4px 0 0 4px;
            border: 1px solid $grey-outline;
            border-right: 0;
            background-color: $white;
            width: 200px;
            max-width: 200px;
            cursor: pointer;

            .content-editable {
              display: inline-block;
              white-space: nowrap;
              max-width: 100%;
              height: 40px;
              padding-top: 8px;

              &.not-editable {
                overflow: hidden;
              }

              &.is-editable {
                overflow: auto;

                &:focus {
                  outline: none;
                }
              }
            }
          }

          .file-extension-container {
            display: flex;
            align-items: center;
            padding: 13px;
            height: 40px;
            border-radius: 0 4px 4px 0;
            border: 1px solid $grey-outline;
            background-color: $white;
            color: $grey-blue;
          }
        }

        .category {
          margin-bottom: 39px;
        }
      }
    }
  }
}
