@import "./imports.scss";

.document-pages {
  background: $background;
  min-width: 80px;
  overflow-y: auto;
  font-family: "Inter", sans-serif;
  height: 100%;

  .document-thumbnail {
    text-align: center;
    padding: 16px 0;
    margin: 0 8px 16px 8px;
    cursor: pointer;

    .img-thumbnail.selected {
      outline: 2px solid $dark;
    }
    .img-thumbnail {
      width: 40px;
      text-align: center;

      &.blur {
        filter: blur(2px);
      }
    }

    .number-thumbnail {
      color: $text;
      font-size: 12px;
      margin-top: 4px;
    }
  }
}
