@import "./imports.scss";

.document-edit {
  flex: 1;
  background-color: $background;
  padding: 16px;

  .pages-section {
    &.scroll {
      height: calc(100% - 50px - 42px);
      overflow: scroll;
    }

    .document-grid {
      padding: 42px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(138px, 138px));
      justify-items: center;
      gap: 10px;

      .image-section {
        width: 138px;
        height: 138px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: rgba(223, 224, 228, 0.3);
        }

        .splitting-lines {
          display: block;
          border-right: 1px dashed $grey-low-opacity;
          position: relative;
          width: 1px;
          height: 90px;
          bottom: 15px;
          left: 5px;
          cursor: pointer;

          .scissors-icon {
            display: none;
            transform: rotate(-90deg);
            position: relative;
            z-index: 999;
            margin-left: 2.5px;
            top: 42.5px;
          }

          &:hover {
            .scissors-icon {
              display: block;
            }
          }

          &.active-split {
            border: none;
            height: 60px;

            &:hover {
              .scissors-icon {
                display: none;
              }
            }
          }
        }

        &:last-child {
          .splitting-lines {
            display: none;
          }
        }

        .image-container {
          width: fit-content;
          display: flex;
          flex-direction: column;

          .thumbnail {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 130px;
            width: 138px;

            &:hover {
              .icon-container {
                display: flex;
              }
            }

            .icon-container {
              position: absolute;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 6px;
              display: none;

              .action-icon {
                border-radius: 60px;
                background-color: $grey-darkest;
                width: 32px;
                height: 32px;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
              }
            }
          }

          .page-number {
            color: $text-lighter;
            font-size: 12px;
            line-height: 12px;
            font-weight: 400;
            align-self: center;
            padding-bottom: 10px;
          }

          &.split-overview {
            img {
              height: 30px !important;
              width: 30px !important;
              border: 1px solid red;
            }
          }
        }
      }

      @media (max-width: 772px) {
        height: calc(100% - 50px - 42px);
        overflow: scroll;
      }

      @media (max-height: 500px) {
        height: calc(100% - 50px - 42px);
        overflow: scroll;
      }
    }
  }

  .footer {
    height: 50px;
    position: fixed;
    z-index: 999;
    background-color: inherit;
    padding: 15px 0 20px 0;
    bottom: 0;
    width: 100%;

    .edit-footer {
      display: flex;
      align-items: center;
      height: 100%;

      p {
        margin-right: 16px;
        color: $grey;
        font-size: 14px;
        font-weight: 400;
      }

      .buttons-container {
        display: flex;
        gap: 4px;
      }
    }
  }

  &.split-overview-component {
    background-color: $white;
  }
  .confirm-split {
    margin-top: 40px;

    .back-btn-section {
      margin-left: 12px;
      width: 15px;
      height: 20px;
    }

    .new-documents-container {
      margin-top: 20px;
      padding-bottom: 40px;
      display: grid;
      grid-template-rows: 1fr;
      gap: 40px;
      max-height: 700px;
      overflow: scroll;

      .document-details {
        display: flex;
        align-items: center;
        gap: 15px;

        .overview-thumbnails {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 85px;

          .split-documents {
            display: flex;
            align-items: center;

            .image-container {
              .thumbnail {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  border: 1px solid $detail;
                  border-radius: 2px;
                  height: auto;
                  width: 60%;
                  box-shadow: 2px 2px $white, 3px 3px $detail, 5px 5px $white,
                    6px 6px $detail;
                }
              }
            }

            .icon-container {
              position: absolute;
              display: none;

              .action-icon {
                border-radius: 60px;
                background-color: $grey-darkest;
                width: 32px;
                height: 32px;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
              }
            }

            &:hover {
              .icon-container {
                display: flex;
              }
            }
          }
        }
        .file-name-section {
          display: flex;
          align-items: center;
          height: 40px;

          .control {
            .input {
              border-radius: 4px 0 0 4px !important;
              box-shadow: none !important;
              border-right: 0;

              &:hover {
                border-color: $grey-outline;
              }
            }
          }

          .name-input {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 13px;
            border-radius: 4px 0 0 4px;
            border: 1px solid $grey-outline;
            border-right: 0;
            background-color: $white;
            width: 210px;
            cursor: pointer;

            .content-editable {
              display: flex;
              white-space: nowrap;
              width: 100%;
              height: auto;
              overflow: hidden;

              &:focus {
                outline: none;
              }
            }
          }

          @media (max-width: 1130px) {
            .name-input {
              width: 180px;
            }
          }

          @media (max-width: 1080px) {
            .name-input {
              width: 150px;
            }
          }

          .file-extension-container {
            display: flex;
            align-items: center;
            padding: 13px;
            height: 40px;
            border-radius: 0 4px 4px 0;
            border: 1px solid $grey-outline;
            background-color: $white;
            color: $grey-blue;
          }
        }

        .category {
          margin-bottom: 39px;
        }
      }
    }
  }
}
