@import "./imports.scss";

.category-chooser {
  cursor: pointer;

  &.split-mode {
    border: 1px solid $grey-detail;
    border-radius: 4px;
    background-color: $white;

    .category-drop-down {
      gap: 5px;
    }
  }

  .category-drop-down {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 8px 0 16px;

    .caret,
    .icon {
      text-align: center;
      margin-right: 8px;

      &.split-mode-caret {
        padding-left: 8px;
        padding-bottom: 2px;
      }
    }

    .category-info {
      min-width: 100px;
      width: 100px;

      .category-title {
        font-size: 12px;
        color: $grey;
      }

      .category-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .left-bar-options {
        display: flex;
      }

      .category-drop-down {
        width: 155px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-right: 1px solid $detail;

        .category-info {
          p {
            font-size: 12px;
            color: $grey;
          }
        }
      }
    }
  }
}
