@import "./imports.scss";

button.ok-btn {
  height: 40px;
  width: auto;
  background-color: $top-bar-green;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  color: $white;
  padding: 10px 16px 10px 16px;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 15px;
  font-family: "Inter", sans-serif;

  &:hover {
    cursor: pointer;
  }
}
