@import "./imports.scss";

.labels-sidebar {
  font-family: "Inter", sans-serif;
  flex: 1;
  background-color: $white;

  .labels-list {
    padding-bottom: 16px;
    overflow: auto;
    height: 100%;

    &.showing-rejected {
      height: 90%;
    }

    .label-set-name {
      margin: 24px 16px 8px 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $text;
    }

    .label-properties {
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      box-shadow: 0px 1px 0px $grey-lightest;
      transition: background-color 0.2s ease-out;
      display: flex;
      align-items: center;
      padding-right: 10px;

      &:hover,
      &.selected {
        background-color: $grey-lightest;
      }

      &.editing {
        background-color: $background;
        border-bottom: 1px solid $lighter-green;
      }

      .label-property-left {
        flex: 1;
        padding-left: 8px;
        display: flex;
        align-items: center;

        .label-property-name {
          padding: 10px 0;
        }

        .label-property-text {
          color: $text-lighter;
          margin-left: 4px;
          width: 100%;
          word-break: break-word;
          padding-right: 4px;
        }
      }

      .label-property-right {
        width: 60%;
        display: flex;
        align-items: center;

        .notification {
          background-color: transparent;
        }

        .label-property-annotation {
          width: 100%;

          .annotation,
          .empty-annotation {
            min-height: 44px;
            display: flex;
            align-items: center;
          }

          .loading-container {
            height: 20px;
            display: flex;
            align-items: center;

            .loading-icon-size {
              width: 13px;
              height: 13px;
            }
          }

          .spinner {
            color: $grey;
          }
        }

        .buttons-container {
          display: flex;
          gap: 8px;
        }
      }

      .annotation-value {
        display: inline-block;
        color: $text;
        padding: 0 8px;
        border: none;
        background-color: transparent;
        inline-size: 100%;
        overflow-wrap: break-word;
        word-break: break-all;

        &:focus {
          outline: none;
        }

        &.label-empty {
          font-weight: 400;
          font-size: 14px;
          color: $text-lighter;
        }
      }

      .action-buttons {
        display: flex;
        gap: 6px;

        button {
          height: 32px;

          &.annotation-save-btn {
            border-radius: 8px;
            padding: 6px 14px 6px 14px;
            font-weight: 500;
            font-size: 14px;
            display: flex;
          }

          &.annotation-cancel-btn {
            border: none !important;
            background-color: transparent !important;
            width: 32px;
          }
        }

        .menu-buttons {
          .dropdown {
            border: none;

            &:hover {
              background: none;
              cursor: pointer;
            }

            .dropdown-trigger {
              .menu-icon {
                width: 3px;
                color: $action-grey;
              }
            }
          }
        }
      }

      .empty-annotation {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .saving-changes {
        color: $grey;
      }

      .error-editing {
        color: $red;
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
      }

      @keyframes shake {
        10%,
        90% {
          transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
          transform: translate3d(2px, 0, 0);
        }

        30%,
        50%,
        70% {
          transform: translate3d(-4px, 0, 0);
        }

        40%,
        60% {
          transform: translate3d(4px, 0, 0);
        }
      }
    }
  }

  .rejected-labels-list {
    position: fixed;
    bottom: 0;
    background-color: $white;
    max-height: 120px;
    min-width: 50%;
    border-top: 1px solid $detail;

    .rejected-label-container {
      margin: 15px;

      .title {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $dark-blue;
        padding-bottom: 15px;
        margin: 0;
      }

      .tag-container {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        overflow: scroll;
        max-height: 60px;
      }
    }
  }
}

.message {
  .message-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 14px !important;
  }

  .btn-container {
    display: flex;

    .menu {
      width: 18px;

      .dropdown {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 100%;

        &:hover {
          background-color: $grey-lighter;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.hidden {
  display: none !important;
}
