@import "./imports.scss";

.document-top-bar {
  height: 56px;
  width: 100%;
  background-color: $white;
  position: sticky;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $detail;
  flex: 1;
  top: 0;
  font-size: 14px;
  color: $top-bar-text-color;
  font-weight: 400px;

  .document-name-container {
    display: flex;
  }

  @media (max-width: 750px) {
    .document-name-container {
      display: none;
    }
  }

  .handover {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 22px 11px 0;
  }
}
