@import "./imports.scss";

.viewport-modal {
  text-align: center;

  .image {
    margin-top: 55px;
    margin-bottom: 15px;
  }

  .content {
    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: $dark-blue;
      padding-bottom: 5px;
    }

    p {
      color: $grey;
    }

    p,
    button {
      line-height: 20px;
      font-size: 14px;
    }
  }

  footer {
    display: flex;
    justify-content: center;
  }
}
