@import "./imports.scss";

.labels {
  width: 40%;
  background-color: $white;
  height: 100%;

  .labels-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .labels-tabs {
      -webkit-overflow-scrolling: touch;
      align-items: stretch;
      display: flex;
      font-size: 1rem;
      justify-content: space-between;
      overflow: hidden;
      overflow-x: auto;
      white-space: nowrap;
      padding: 16px 16px 1px 16px;

      ul {
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        border-bottom: none;
        align-items: center;
        justify-content: center;
      }

      li {
        flex-grow: 1;
        flex-shrink: 0;
        list-style-type: none;
      }

      .label-tab {
        a {
          color: $text;
          border-bottom: 1px solid $detail;
          cursor: pointer;
          font-size: 14px;
          line-height: 20px;
          transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
          font-family: "Inter", sans-serif;
          align-items: center;
          display: flex;
          justify-content: center;
          margin-bottom: -1px;
          padding: 0.5em 1em;
          vertical-align: top;

          .label-counter {
            color: $grey;
            margin-left: 4px;
            padding: 0 8px;
            background: $background;
            border-radius: 500px;
            font-size: 12px;
            transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
          }
        }

        &.is-active {
          a {
            color: $primary;
            border-width: 1px;
            border-bottom-color: $primary;

            .label-counter {
              color: $primary;
              background: $primary-low-opacity;
            }
          }
        }

        &:not(.is-active) {
          a:hover {
            border-bottom-color: $grey;
            color: $grey;
          }
        }
      }
    }
  }


}