@use "variables.scss";
.document-set-dropdown {
  border-right: variables.$component-border;
  border-left: variables.$component-border;

  .dropdown-doc-set {
    display: flex;
    margin: 0 16px;
    gap: 8px;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    .dropdown-text {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}
.loading-bar {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 16px;
}
