@use "variables.scss";

.pdf-page-container {
  position: relative;
  cursor: crosshair;
  width: fit-content;
  margin: 0 auto;

  &.default-cursor {
    cursor: default;
  }

  .annotation-label {
    position: absolute;
    z-index: 999;
    background-color: variables.$text-color;
    color: variables.$white;
    font-size: 12px;
    padding: 4px;
    word-break: break-all;
  }
}
