@import "./imports.scss";

.label-info {
  font-family: "Inter", sans-serif;
  overflow: auto;
  flex: 1;
  padding: 0 16px;
  .label-title {
    font-weight: 600;
    font-size: 18px;
    color: $text;
    margin-top: 24px;
  }

  .label-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $text-lighter;
  }

  .label-group {
    cursor: default;

    .label-group-name {
      margin-top: 24px;
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $text;
    }
  }

  .label-properties {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border-bottom: 1px solid $background;
    transition: background-color 0.2s ease-out;

    &:last-child {
      border-bottom: none;
    }

    &:hover,
    &.selected {
      background-color: $grey-lightest;
    }

    .label-property-top {
      display: flex;
      align-items: flex-start;

      &.clickable {
        cursor: pointer;
      }

      .label-property-left {
        flex: 1;
        padding-left: 8px;

        .label-property-name {
          padding: 10px 0;
          display: flex;
          align-items: center;

          .icon-caret {
            transition: transform 0.2s ease-in-out;

            &.rotated {
              transform: rotate(-90deg);
            }
          }
        }

        .label-property-text {
          color: $text-lighter;
          margin-left: 4px;
          width: 100%;
          border-right: 4px solid $yellow;

          &.green {
            border-color: $green;
          }

          &.red {
            border-color: $red;
          }
        }
      }

      .label-property-right {
        flex: 1;

        .notification {
          background-color: transparent;
        }

        .label-property-annotation {
          display: flex;
          align-items: center;
          padding: 10px 0;

          .loading-container {
            height: 20px;
            display: flex;
            align-items: center;

            .loading-icon-size {
              width: 13px;
              height: 13px;
            }

            .spinner {
              color: $grey;
            }
          }
        }

        .label-property-value {
          color: $text;
          margin-left: 8px;
          border: none;
          background-color: transparent;
        }

        .label-property-value:focus {
          outline: none;
        }

        [contenteditable].label-property-value {
          overflow: hidden;
        }

        .saving-changes {
          color: $grey;
        }
      }

      @media (max-width: 1100px) {
        [contenteditable].label-property-value {
          word-break: break-all;
        }
      }
    }

    .label-property-description {
      padding: 0 20px;
      overflow: hidden;
      height: 0px;
      opacity: 0;
      color: $text;
      display: flex;
      align-items: center;
      background-color: $background;
      transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;

      &.open {
        height: 40px;
        opacity: 1;
      }
    }
  }

  .message {
    .message-container {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      font-size: 14px !important;
    }

    .close-btn:hover {
      cursor: pointer;
    }

    @media (max-width: 1064px) {
      .btn-container {
        align-self: flex-start;
      }
    }
  }

  .hidden {
    display: none !important;
  }
}
