@import "./imports.scss";

.toolbar-container {
  position: absolute;
  width: fit-content;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;

  .toolbar {
    background-color: $toolbar;
    height: 40px;
    width: fit-content;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.hidden {
      display: none;
    }

    .toolbar-divider {
      width: 1px;
      background-color: $grey-detail;
      height: 20px;
      margin-left: 10px;
      margin-right: 10px;
      opacity: 30%;
    }

    .icons {
      display: flex;
      align-items: center;

      .icon {
        svg {
          fill: $toolbar-elements;
        }
      }

      &.icons-left {
        padding-right: 10px;

        &:hover {
          cursor: pointer;
          background: $low-opacity-white;
          border-radius: 4px;
        }

        &.edit-mode-disabled {
          opacity: 30%;

          &:hover {
            cursor: not-allowed !important;
            background: inherit;
          }
        }

        .edit-text {
          color: $toolbar-elements;
        }
      }

      .percentage {
        color: $toolbar-elements;
        width: 32px;
        padding: 7px;
        margin-right: 20px;
      }

      .icon {
        width: 32px;
        height: 32px;
        padding: 7px;

        &:hover:not(.edit-icon) {
          cursor: pointer;
          background: $low-opacity-white;
          border-radius: 4px;
        }
        &.zoom-disabled {
          opacity: 30%;

          &:hover {
            cursor: not-allowed !important;
            background: inherit;
          }
        }
      }
    }
  }
}
