@import "./imports.scss";

.dataset-status-chooser {
  margin-left: 0 !important;
  cursor: pointer;

  .dataset-status-drop-down {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 8px 0 16px;

    .caret,
    .icon {
      text-align: center;
      margin-right: 8px;
    }

    .dataset-status-info {
      min-width: 100px;
      width: 100px;

      .dataset-status-title {
        font-size: 12px;
        color: $grey;
      }

      .dataset-status-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .dropdown-menu-title {
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
  }

  p {
    font-size: 12px;
    color: $grey;
  }
}
