@import "./imports.scss";

.document-pages {
  background: $background;
  min-width: 80px;
  overflow-y: auto;
  font-family: "Inter", sans-serif;
  height: 100%;

  .document-thumbnail {
    text-align: center;
    padding: 16px 0;
    margin: 0 8px 16px 8px;
    cursor: pointer;

    .img-thumbnail.selected {
      outline: 2px solid $dark;
    }
    .img-thumbnail {
      width: 40px;
      text-align: center;
    }

    .number-thumbnail {
      color: $text;
      font-size: 12px;
      margin-top: 4px;
    }
  }

  .icon-container {
    display: none;
    width: 100%;
    height: 95%;
    color: $grey-darkest;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;

    .icon {
      height: 32px;
      width: 32px;
      background-color: $full-black;
      border-radius: 50%;
      position: relative;
    }
  }
}

.document-pages {
  &.filter {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-items: center;
    width: 100%;

    .document-thumbnail {
      margin: 0 !important;

      .image-container {
        position: relative;

        .img-thumbnail {
          outline: 1px solid $grey-detail !important;
          width: 150%;
        }
        &:hover {
          .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .img-thumbnail {
            outline: none !important;
          }
        }
      }
    }
  }
}
