@import "./imports.scss";

#document-annotations {
  font-family: $font-family;
  flex: 1;
  background-color: $background;
  position: relative;
  display: flex;
  flex-direction: column;

  &.disabled {
    pointer-events: none;
  }

  .annotations-skeleton {
    .label-set-name-skeleton {
      margin: 24px 16px 8px 16px;
    }

    .label-properties-skeleton {
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 8px;
      width: 100%;
      box-shadow: 0px 1px 0px $grey-lightest;
      display: flex;
      align-items: center;

      .loading-left {
        display: flex;
        width: 80%;
        align-items: center;
        gap: 10px;

        .label-skeleton {
          padding-top: 1px;
          width: 100%;
        }
      }

      .loading-right {
        width: 100%;
      }
    }
  }

  .annotation-set-list {
    padding-bottom: 16px;
    overflow: auto;
    height: 100vh;

    #annotation-filters {
      padding: 16px 16px 0px 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 12px;
      span {
        font-size: 14px;
      }
    }

    .annotation-set-group {
      .label-set-header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 32px;
        margin: 24px 16px 8px 16px;

        &:hover {
          background-color: $background;
        }

        .label-set-name {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: $text;
          display: flex;
          align-items: center;
          gap: 8px;

          .icon {
            width: 12px;
            height: 12px;
          }
        }
      }

      .ann-set-table {
        display: flex;
        align-items: center;
        width: fit-content;
        cursor: pointer;
        &:not(:last-child) {
          padding-bottom: 12px;
        }

        .ann-set-table-icon {
          padding: 4px 8px;
          border-radius: 32px;
          margin-left: 14px;
          background: $purple-low-opacity;
          display: flex;
          width: fit-content;
          align-items: center;
          .ann-set-number {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-left: 4px;
          }
        }
        .ann-set-table-label-set-name {
          margin-left: 8px;
          font-size: 14px;
          line-height: 20px;
        }
      }

      .labels {
        .label {
          .label-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $grey-lightest;
            min-height: 44px;
            cursor: pointer;

            .label-group-left {
              display: flex;
              flex-direction: row;
              padding-left: 28px;
              color: $text-lighter;
              align-items: center;

              .label-name {
                padding-left: 20px;
              }
            }

            .label-group-right {
              display: flex;
              flex-direction: row;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              padding-right: 16px;
              cursor: default;

              .label-annotations-pending {
                padding: 0px 8px;
                border-radius: 20px;
                background: $grey-lighter-low-opacity;
                color: $text-lighter;
                margin-right: 4px;
              }

              .label-annotations-accepted {
                padding: 0px 8px;
                border-radius: 20px;
                background: $green-low-opacity;
                color: $green;
              }
            }
          }

          .label-group-annotation-list {
            background-color: $grey-hover;

            .annotation-row {
              padding-left: 16px;
            }
          }

          .label-name {
            color: $text-lighter;
            word-break: break-word;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
          }

          .annotation-row {
            width: 100%;
            border-bottom: 1px solid $grey-lightest;
            transition: background-color 0.2s ease-out;
            display: flex;
            align-items: center;
            padding-right: 5px;

            &.clickable-cursor {
              cursor: pointer;
            }

            .annotation-row-left {
              flex: 1;
              padding-left: 8px;
              display: flex;
              align-items: center;

              .annotation-icon {
                height: 40px;
                padding: 0 15px;
              }

              .label-name {
                padding: 10px 0;
                padding-right: 4px;
              }

              .annotation-translation {
                display: flex;
                padding-left: 20px;

                &.pointer {
                  cursor: pointer;
                }

                .icon {
                  display: flex;
                }

                .translation-details {
                  display: flex;
                  flex-direction: column;
                  gap: 8px;
                  min-width: 216px;
                  text-align: left;
                  border-bottom: 1px solid $low-opacity-white;
                  padding-bottom: 8px;
                  word-wrap: break-all;
                  white-space: normal;

                  .translation-title {
                    color: $white;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .translated-string {
                      font-weight: 500;
                      text-align: right;
                      &.no-translation {
                        color: $red;
                        font-weight: 400;
                      }
                    }
                  }
                }
                .translation-info {
                  padding-top: 8px;
                  line-height: 18px;
                  font-size: 12px;
                  opacity: 0.7;
                  color: $white;
                  font-weight: 400;
                }
              }
            }

            .annotation-row-right {
              width: 60%;
              display: flex;
              align-items: center;

              .notification {
                background-color: transparent;
              }

              .annotation-content {
                width: 100%;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;

                .annotation,
                .empty-annotation {
                  min-height: 36px;
                  display: flex;
                  align-items: center;
                }

                .loading-container {
                  height: 20px;
                  display: flex;
                  align-items: center;

                  .loading-icon-size {
                    width: 13px;
                    height: 13px;
                  }
                }

                .spinner {
                  color: $grey;
                }
              }

              .buttons-container {
                display: flex;
                gap: 8px;
              }

              .annotation-value {
                display: inline-block;
                color: $text;
                padding: 0 8px;
                border: none;
                background-color: transparent;
                inline-size: 100%;
                overflow-wrap: break-word;
                word-break: break-all;

                &:focus {
                  outline: none;
                }

                &.label-empty {
                  font-weight: 500;
                  font-size: 14px;
                  color: $primary;

                  &.clicked-ann {
                    font-weight: 400;
                    color: $text-lighter;
                  }
                }
              }
            }

            .empty-annotation {
              display: flex;
              width: 100%;
              justify-content: space-between;
            }

            &:hover,
            &.selected {
              background-color: $grey-lightest;
            }

            &.hovered-empty-labels {
              background-color: $grey-lightest;
              border-bottom-color: $grey-detail;
            }

            &.hovered-pending-annotations {
              position: relative;
              border-bottom-color: $primary;

              &:before {
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                background: $primary;
                opacity: 0.1;
                position: absolute;
                top: 0;
                left: 0;
              }
            }

            &.editing {
              background-color: $background;
              border-bottom: 1px solid $primary;
            }

            .not-found-text {
              color: $grey;
              opacity: 0.3;
            }

            .saving-changes {
              color: $grey;
            }

            .error-editing {
              color: $red;
              animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
              transform: translate3d(0, 0, 0);
            }

            @keyframes shake {
              10%,
              90% {
                transform: translate3d(-1px, 0, 0);
              }

              20%,
              80% {
                transform: translate3d(2px, 0, 0);
              }

              30%,
              50%,
              70% {
                transform: translate3d(-4px, 0, 0);
              }

              40%,
              60% {
                transform: translate3d(4px, 0, 0);
              }
            }
          }
        }
      }

      .no-labels {
        display: flex;
        gap: 5px;
        padding-left: 28px;
        color: $text-lighter;
        font-size: 14px;
        line-height: 20px;
        min-height: 44px;

        a {
          color: $white;
          text-decoration: underline;
          font-weight: 500;
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    gap: 6px;

    button {
      height: 32px;

      &.annotation-save-btn {
        cursor: pointer;
        padding: 6px 14px 6px 14px;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        width: auto;
      }

      &.annotation-cancel-btn {
        padding-top: 8px !important;
        border: none !important;
        background-color: transparent !important;
        width: 32px;
      }

      &.accept-all-btn,
      &.restore-btn {
        color: $primary !important;
        font-size: 14px !important;
        font-weight: 500;
        background-color: transparent !important;
        width: auto;

        &:hover {
          text-decoration: none !important;
          color: $primary !important;
          filter: $hover-style;
        }

        &:focus {
          box-shadow: none !important;
        }
      }

      &.finish-review-btn {
        height: 40px;

        .icon:last-child:not(:first-child) {
          margin: 0;
        }
      }

      &.text-btn {
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }

      &.annotation-save-btn {
        padding: 6px 14px 6px 14px;
      }

      &.annotation-cancel-btn {
        border: none !important;
        background-color: transparent !important;
        width: 32px;
      }
    }

    .button-icon {
      height: 24px;
      width: 24px;
      padding: 6px;
    }

    .accept-decline-container {
      padding-right: 14px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      button {
        padding: 6px;

        .decline-icon {
          height: 24px;
          width: 24px;
          padding: 6px;
          color: $red;
          vertical-align: middle;
        }

        svg {
          vertical-align: middle;
          height: 24px;
        }
      }
    }

    .missing-button-container {
      background-color: transparent;
      display: flex;
      flex-direction: row;

      .missing-btn,
      .search-btn {
        padding: 6px;
        color: $grey-blue !important;
        font-size: 14px !important;
        font-weight: 500;
        background-color: transparent !important;
        width: auto;

        &:hover {
          text-decoration: none !important;
          color: $text-color !important;
        }

        &:focus {
          box-shadow: none !important;
        }
      }
    }
  }
}

.annotation-row {
  display: flex;
  align-items: center;
  .annotation-icon {
    display: flex;
  }
  .annotation-value {
    outline: none;
  }
}

.message {
  .message-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 14px !important;
  }

  .btn-container {
    display: flex;
  }
}

.hidden {
  display: none !important;
}
