@import "./imports.scss";

.label-icon {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 20px;

  .icon {
    color: $grey-detail;
    position: relative;

    &.red {
      color: $error-red;
    }

    &.green {
      color: $green;
    }

    &.animated-ripple {
      animation: bounce 1s .1s;
      transform: scale(1);
    }
  }
}

.label-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 100px;

  .label-description {
    opacity: 0.7;
    color: $white;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 8px;
    word-wrap: break-all;
    white-space: normal;
    width: 216px;
  }

  .accuracy {
    color: $white;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 8px;

    .value {
      color: $green;

      &.yellow {
        color: $yellow;
      }

      &.red {
        color: $red;
      }
    }
  }

  .revision {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $white;

    >div {
      display: flex;
      align-items: center;
    }

    .not-found {
      .icon {
        color: $error-red;
      }
    }

    .not-revised {
      .icon {
        color: rgba(255, 255, 255, 0.2);
      }
    }

    .icon {
      margin-right: 6px;
      color: $primary
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(0.85);
    opacity: 1
  }

  20% {
    transform: scale(0.95);
    opacity: .7;
  }

  40% {
    transform: scale(1);
    opacity: 1
  }

  60% {
    transform: scale(1.6)
  }

  100% {
    transform: scale(1.1)
  }
}