@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "./variables.scss";

body {
  margin: 0;
  font-family: "Inter", sans-serif;

  .app-container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
  }
}