@import "./imports.scss";

.multi-ann-table-overlay {
  position: absolute;
  bottom: 0;
  height: fit-content;
  z-index: 40;
  width: 100%;
  background-color: $background;

  .multi-ann-set-table {
    padding-bottom: 6px;

    .table-wrapper {
      overflow: visible;
      .header-dropdown {
        cursor: pointer;
        overflow: visible;
        white-space: nowrap;
        text-overflow: ellipsis;

        .icon.arrow {
          margin-left: 4px;
        }
        .draggable {
          margin-right: 4px;
          cursor: move;
        }

        .delete-action {
          color: $red;
        }
      }

      .annotations-table {
        height: 22px;
        display: flex;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: visible;
      }
    }
  }
}
