@import "./imports.scss";

.multi-ann-table-overlay {
  position: absolute;
  bottom: 0;
  height: fit-content;
  z-index: 40;
  width: 100%;
  background-color: $background;

  .multi-ann-set-table {
    padding-bottom: 6px;
    .annotation-content {
      display: flex;
      align-items: center;
      min-height: 22px;
      span {
        font-weight: 400;
      }
    }
  }
}
