@use "variables.scss";

.annotation-popup {
  border-radius: 12px;
  background-color: variables.$text-color;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  width: 205px;
  z-index: 40;
  color: variables.$white;
  padding: 8px;
  cursor: default;

  .popup-input {
    background-color: variables.$text-color;
    color: variables.$white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    box-shadow: none;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid variables.$grey-low-opacity;
    width: 100%;
    justify-content: space-between;
    position: relative;
    text-wrap: wrap;
    text-align: left;

    > span {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      margin-right: 24px;
    }

    .spinner {
      width: fit-content;
    }

    .caret-icon {
      position: absolute;
      right: 18px;
      padding-top: 1px;
    }
  }

  .not-selected {
    color: variables.$grey-detail;
  }

  .add-ann-set {
    &.has-border {
      border-top: 1px solid variables.$grey-detail;
    }

    width: 100%;
    color: variables.$primary !important;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }

  .add-ann-set-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .annotation-dropdown {
    border-radius: 12px;
    border: 1px solid variables.$grey-low-opacity !important;

    .button.is-text {
      box-shadow: none !important;
      color: variables.$white !important;
      background-color: transparent !important;
      text-decoration: none;
    }
  }

  .annotation-buttons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 2px;

    .button.is-text {
      color: variables.$white !important;
      text-decoration: none;
    }

    .cancel-button {
      color: variables.$white;

      &:hover {
        border: 1px solid variables.$grey-low-opacity;
        background: transparent;
      }
    }

    .popup-button {
      font-size: 14px;
      border-radius: 8px;
    }
  }
}
