@import "./imports.scss";

.scrolling-document {
  overflow: auto;
  height: 100%;
  scroll-behavior: smooth;

  .scrolling-page {
    margin: 8px 0;
  }

  .loading-page {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }
}
