/* Theme */
$green: #12b76a;
$red: #f13131;

$dark: #2f3032;

$grey-dark: #344054;
$grey: #858c9a;
$grey-lighter: #c7c7c7;
$grey-lightest: #f0f0f0;
$grey-outline: #d0d5dd;

$yellow: #ffd600;
$blue: #2f80ed;
$white: #fff;

$warning-yellow: #fec84b;

$primary: #34ab7d;
$primary-dark: #0c4b33;
$primary-low-opacity: rgba(52, 171, 125, 0.16);

$link: $primary;
$info: $blue;
$danger: $red;
$warning: $warning-yellow;
$success: $green;
$text: $grey-dark;
$text-strong: $dark;
$text-lighter: $grey;
$black: $dark;

$background: #f7f7f7;
$detail: #e2e3e4;

$top-bar-green: #44b78b;
$top-bar-text-color: #2b3545;
$error-red: #d4453d;

$message-body-border-width: 1px;
$message-body-padding: 8px 16px;

$loading-background: transparent;

$input-shadow: none;
$header-size: 2px;

$carousel-overlay-background: none;

.carousel-list {
  &.has-shadow {
    box-shadow: none !important;
  }
  .carousel-slides .carousel-slide {
    border: none !important;
  }

  .carousel-arrow {
    .icon {
      svg {
        height: 100%;
      }
    }
  }
}

.error-message {
  .message-body {
    background-color: $error-red !important;
    color: $white;
    font-size: 14px;
    border: 0;
    border-radius: 0% !important;
    line-height: 20px;
    padding: 7px 0 7px 0;
  }
  .media-content {
    display: flex;
    justify-content: flex-end;
    margin: 0px 20px 0px 20px;
  }

  .message-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.dropdown {
  height: 100%;
  border-right: 1px solid $detail;
  .dropdown-menu {
    padding-top: 0px;
    left: 27px !important;
    top: 50px !important;
  }
}

.modal-content {
  height: auto;
  width: 500px;
  max-width: 500px !important;
  margin-left: auto;
  margin-right: auto;
  background: $white;
  border-radius: 16px;
}

.modal-card {
  display: flex;
  align-items: center;
}

.modal.is-active {
  z-index: 999;
}

.modal-background {
  background-color: $black;
  opacity: 0.5;
}

.modal-close.is-large {
  display: none !important;
}

.image,
.content {
  width: 400px;
  text-align: center;
}

.image {
  padding-top: 55px;
  padding-bottom: 15px;
}

.content {
  h3 {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 26px !important;
    color: $top-bar-text-color !important;
    padding-bottom: 5px;
  }
  p {
    color: $grey;
  }

  p,
  button {
    line-height: 20px;
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  .modal-content,
  .modal-card {
    width: 500px !important;
  }
}

@import "~bulma";
@import "~buefy/src/scss/buefy";
