/* Theme */

$green: #12b76a;
$lighter-green: #44b78b;
$darker-green: #3a9c76;
$red: #e7423a;
$lighter-red: #f04438;
$lightest-red: rgba(254, 227, 226, 0.5);

$dark: #2f3032;
$full-black: #000;
$grey-dark: #344054;
$grey: #858c9a;
$grey-low-opacity: rgba(133, 140, 154, 0.4);
$grey-lighter: #c7c7c7;
$grey-lightest: #f0f0f0;
$grey-outline: #d0d5dd;
$grey-detail: #dfe0e4;
$subtle-grey: #f2f4f7;
$subtlest-grey: #e3e4e5;
$grey-darker: #101828;
$grey-hover: #fafafa;
$green-hover: #3a9c76;
$grey-blue: #667085;
$action-grey: #5f5d59;

$yellow: #ffd600;
$blue: #2f80ed;
$dark-blue: #2b3545;
$white: #fff;
$low-opacity-white: rgba(255, 255, 255, 0.1);

$warning-yellow: #fec84b;

$primary: #34ab7d;
$primary-dark: #0c4b33;
$primary-low-opacity: rgba(52, 171, 125, 0.16);

$background: #f7f7f7;
$detail: #e2e3e4;

$link: $primary;
$info: $blue;
$danger: $red;
$warning: $warning-yellow;
$success: $green;
$text: $grey-dark;
$text-strong: $dark;
$text-lighter: $grey;
$black: $dark;

$error-red: #d4453d;
$error-background: #fdf4f6;
$dark-error-red: #bb2b3b;
$light-error-red: rgba(187, 43, 59, 0.3);
$low-opacity-red: rgba(231, 66, 58, 0.3);
$light-red: #fdf4f4;

$input-shadow: none;
$top-bar-height: 56px;

button {
  &.is-primary {
    background-color: $primary !important;
    color: $white !important;

    &:hover:enabled {
      background-color: $primary-dark !important;
    }

    &:disabled {
      background-color: $grey;
    }
  }

  &:not(.is-text, .is-primary) {
    background-color: $white !important;
    color: $dark-blue !important;
  }

  &.is-text {
    text-decoration: none;

    &:hover {
      background-color: transparent;
    }
  }

  .icon {
    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }
}

.carousel-list {
  &.has-shadow {
    box-shadow: none !important;
  }

  .carousel-slides .carousel-slide {
    border: none !important;
  }

  .carousel-arrow {
    .icon {
      color: $primary;

      &:hover {
        border: 1px solid $primary;
      }

      svg {
        height: 100%;
      }
    }
  }
}

.error-message {
  position: absolute;
  width: 100%;

  .message {
    padding: 0;
  }

  .message-body {
    background-color: $error-red;
    color: $white;
    font-size: 14px;
    border: 0;
    border-radius: 0%;
    line-height: 20px;
    padding: 7px 0 7px 0;
  }

  .media-content {
    display: flex;
    justify-content: flex-end;
  }

  .message-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .btn-container {
    cursor: pointer;
    display: flex;
    align-items: center;

    .close-btn {
      color: $white;
      padding-right: 20px;
      padding-left: 20px;

      svg {
        height: 15px !important;
      }
    }
  }

  &.handover {
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 7px;
    width: auto;

    .message {
      display: flex;
    }

    .message-body {
      border-radius: 4px;
      border: 1px solid $light-error-red;
      background-color: $error-background !important;
      color: $dark-error-red;
      width: 100%;
    }

    .media-content {
      margin: 0px 10px 0px 10px !important;
    }

    .message-container {
      justify-content: flex-start !important;
      text-align: left;
    }
  }
}

.message {
  &.label-message {
    .message-body {
      padding: 5px 15px 5px 15px !important;
    }
  }
}

.dropdown {
  height: 100%;

  +.dropdown {
    margin-left: 0;
  }

  .dropdown-trigger {
    justify-content: space-between;
    width: 100%;
  }

  .dropdown-menu {
    padding-top: 0px;
  }

  a.dropdown-item.is-active {
    background-color: $primary;
  }

  &.dropdown-menu-animation {
    a.navbar-item {
      color: $dark-blue;
      font-size: 16px;
      line-height: 24px;

      &:hover {
        color: $primary;
        background: none;
        border: none;
      }
    }
  }
}

.modal {
  z-index: 999;

  .modal-background {
    background-color: $full-black;
    opacity: 0.5;
  }

  .modal-close {
    display: none !important;
  }
}

.loading-background {
  background-color: transparent !important;
}

.loading-icon-size {
  width: 13px;
  height: 13px;
}

.notices {
  .snackbar {
    background-color: $dark-blue;
    min-height: 40px;

    .text {
      display: flex;
      font-size: 14px;
    }
  }
}

.label-action-btn {
  .dropdown-trigger {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.close-btn {
  width: 10px;
  height: 10px;
}

.b-tooltip {
  &.left-aligned {
    .tooltip-content {
      left: 10px !important;
      transform: none !important;
      padding: 8px 10px !important;

      &::before {
        left: 16px !important;
        right: auto !important;
      }
    }
  }

  &.right-aligned {
    .tooltip-content {
      right: -20px !important;
      left: auto !important;
      transform: none !important;
      padding: 8px 10px !important;

      &::before {
        right: 16px !important;
        left: auto !important;
      }
    }
  }

  &.width-184 {
    .tooltip-content {
      width: 184px !important;
    }
  }
}

.tags {
  margin: 0 !important;

  .tag {
    margin-bottom: 0 !important;
    color: $dark;
    font-weight: 400;
    background-color: $detail;

    &:hover {
      background-color: $detail !important;
    }

    &.is-delete {
      cursor: pointer;

      &::before {
        height: 1.5px;
        border-radius: 4px;
      }

      &::after {
        width: 1.5px;
        border-radius: 4px;
      }
    }
  }
}

.icon.is-small {
  width: 14px;
  height: 14px;
}

.dropdown {
  &.split-mode {
    .dropdown-trigger {
      font-size: 14px;
    }
  }

  &.width-12 {
    .dropdown-trigger {
      width: 12px;
    }
  }

  .dropdown-trigger {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}